body{
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Montserrat Medium", sans-serif;
}
ul {
	list-style-type: none;
}
header {
	height: 100vh;
	width: 100%;
}
.carousel-caption {
	right: +50%;
	top: 40%;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}
.carousel-caption h1 {
	color: #000;
}
.carousel-caption p {
	color: grey;
}
.carousel-caption a,.bags .description a,.samples .item a,.top a   {
	text-decoration: none;
	color: #000;
	border: 2px #000 solid;
	background-color: #FFF;
	display: flex;
	height: 40px;
	width: 200px;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}
.carousel-caption a:hover,.bags .description a:hover, .samples .item a:hover,.top a:hover {
	text-decoration: none;
	color: #FFF;
	background-color: #000;
	transition: all .3s ease;
}
.carousel-indicators {
	left: -70%;
}
.cyrlce {
	border: 3px solid #FFF;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	background-color: rgba(0,0,0,.5);
}
.carousel-indicators li {
	height: 10px;
	width: 10px;
	border-radius: 2px;
}
.carousel-indicators .active {
	background-color: #000;
}
.top-bar,.top-menu {
	position: absolute;
	z-index: 100;
	width: 100%;
}
.top-menu {
	top: 8%;
}
.top-bar .container {
	border-bottom: 1px solid grey;
}
.top-bar h1 {
	margin: 0 auto;
	font-family: "Montserrat Medium", sans-serif;
	padding: 20px 0;
	font-size:  24px;
	font-weight: bold;
}
.top-bar i {
	font-size: 24px;
	padding: 20px 20px;
}
.top-menu ul {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
}
.top-menu ul li {
	padding: 0 30px;
	font-weight: 500;
	text-transform: uppercase;
}
.carousel img {
	height: 100vh;
	width: 100vw;
}
.section1 {
	padding: 50px 0;
}
.section1 .description{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.description .item {
	display: flex;
	flex-direction: column;
	align-items:  center;
	text-align: center;
}
.description .item i {
	font-size: 50px;
	margin-bottom: 20px;
}
.description .item h3 {
	font-size: 16px;
}
.description .item p {
	font-size: 12px;
}
.section2 .samples {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-left: 15px;
	margin-right: 15px;
}
.samples .item {
	position:relative;
}
.samples .item img,.top .item img{
	width: 100%;
	height: 350px;
} 
.samples .item a {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	bottom: 10%;
}
.section3 {
	margin: 50px 0;
}
.top-trending .title {
	display: flex;
	width: 60%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	margin-bottom: 50px;
}
.top {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.top .item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.buttons {
	display: flex;
	flex-direction: row;
}
.top .item h4 {
	font-size: 16px;
}
.top .item p {
	font-size: 14px;
}
.top-trending .title .buttons a{
	color: #000;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 160px;
	height: 40px;
	background-color: grey;
	margin-left: 20px;
	transition: all .3s ease;
}
.top-trending .title .buttons a:before {
	content: "";
	position: absolute;
	height: 20px;
	width: 20px;
	bottom: -2%;
	background-color: grey;
	transform: rotate(-45deg);
	z-index: -1;	
	transition: all .3s ease;
}
.top-trending .title .buttons a:hover {
	color: #FFF;
	background-color: #000;
}
.top-trending .title .buttons a:hover:before {
	background-color: #000;
}
.top .item img {
	position: relative;
}
.top .new:after{
	content: "New";
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 40px;
	top: 2%;
	right: 10%;
	color: #FFF;
	font-size: 12px;
	background-color:#000; 
}
.top .price:before {
	content: "-20%";
	color: #FFF;
	background-color: red;
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 2%;
	left: 10%;
	display: flex;
	height: 20px;
	width: 40px;
	font-size: 12px;
	z-index: 1;
}
.top a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-transform: uppercase;
}
.bags .item {
	display: flex;
	flex-direction: row;
	height: 500px;
}
.bags .title,.bags .title .description {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.bags .title .description {
	width: 80%;
}
.partners {
	width: 100%;
	margin: 50px 0;
}
.partners ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0;
}
.partners ul li a{
	color: grey;
	text-decoration: none;
	transition: all .3s ease;
}
.partners ul li a:hover{
	color: #000;
	transform: scale(2);
}
.instagram {
	display: flex;
	flex-direction: row;
	position: relative;
}
.instagram:after {
 content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.4);
  z-index: 2;
}
.instagram:before {
	content: "#Instagram";
	position: absolute;
	color: #FFF;
	z-index: 3;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 26px;
}
.instagram .item {
	width: calc(100%/6)
}
.instagram img {
	height: 200px;	
	width: 100%;
}