* {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  outline: none; }
  *:hover {
    outline: none; }

body {
  overflow: hidden; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  color: #000000; }
  a:hover {
    color: #000000;
    text-decoration: none; }

header {
  position: absolute;
  z-index: 10;
  padding-top: 20px;
  width: 100%; }
  header h1 {
    margin: 0 auto;
    text-transform: uppercase; }
  header .hiden {
    position: relative; }
    header .hiden .lang ul li a {
      display: none;
      color: #b7b7b7; }
    header .hiden .lang ul .active a {
      color: #000000; }
    header .hiden .search button {
      background: #ffffff;
      border: none;
      width: 0;
      height: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 15%; }
      header .hiden .search button i {
        cursor: default;
        color: #a8a8a8;
        padding: 0;
        font-size: 0; }
    header .hiden .search input[type="search"] {
      position: relative;
      border: none;
      width: 0;
      height: 0; }
    header .hiden .share {
      right: 0; }
      header .hiden .share ul li a i {
        color: #dddddd;
        padding: 0;
        font-size: 0; }
    header .hiden .basket {
      right: -240%;
      top: -50%;
      padding: 0; }
      header .hiden .basket .calc {
        display: none; }
        header .hiden .basket .calc .title {
          border-top: 2px solid #f9f9f9; }
        header .hiden .basket .calc .price {
          border-bottom: 2px solid #f9f9f9; }
        header .hiden .basket .calc h4 {
          font-size: 18px; }
        header .hiden .basket .calc .total button {
          background: #000000;
          -webkit-border-radius: 20px;
                  border-radius: 20px;
          width: 100%;
          color: #ffffff;
          text-transform: uppercase;
          padding: 0 30px; }
      header .hiden .basket .title {
        display: none; }
      header .hiden .basket button {
        display: none;
        float: right;
        border: none;
        background: #ffffff; }
      header .hiden .basket .cart-item {
        display: none;
        margin-top: 20px;
        position: relative; }
        header .hiden .basket .cart-item img {
          width: 90px;
          height: 120px;
          float: left; }
        header .hiden .basket .cart-item .description {
          padding-left: 10px; }
          header .hiden .basket .cart-item .description h3 {
            font-size: 20px;
            margin: 0; }
          header .hiden .basket .cart-item .description p {
            margin: 0; }
          header .hiden .basket .cart-item .description .price p {
            margin-left: 15px;
            vertical-align: middle; }
        header .hiden .basket .cart-item button {
          float: right;
          border: none;
          background: #ffffff; }
    header .hiden i {
      font-size: 24px;
      padding: 12px;
      cursor: pointer; }
      header .hiden i:hover + .lang {
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        padding: 10px;
        padding-left: 15px;
        opacity: 1;
        width: 80px;
        height: 90px; }
        header .hiden i:hover + .lang ul li a {
          display: block; }
      header .hiden i:hover + .search {
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        opacity: 1;
        width: 250px;
        height: 40px; }
        header .hiden i:hover + .search input[type="search"] {
          width: 100%;
          height: 100%; }
        header .hiden i:hover + .search button {
          width: 40px;
          height: 20px; }
          header .hiden i:hover + .search button i {
            font-size: 16px; }
      header .hiden i:hover + .share {
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        opacity: 1;
        width: 170px;
        height: 50px; }
        header .hiden i:hover + .share ul li a i {
          color: #000000;
          padding: 10px;
          font-size: 24px; }
      header .hiden i:hover + .basket {
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        padding: 20px;
        opacity: 1;
        width: 30vw;
        height: 100vh; }
        header .hiden i:hover + .basket button, header .hiden i:hover + .basket .calc, header .hiden i:hover + .basket .cart-item, header .hiden i:hover + .basket .title {
          display: block; }
    header .hiden .lang, header .hiden .search, header .hiden .share, header .hiden .basket {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      background: #ffffff; }
    header .hiden .lang:hover, header .hiden .lang:focus-within {
      padding: 10px;
      padding-left: 15px;
      opacity: 1;
      width: 80px;
      height: 90px; }
      header .hiden .lang:hover ul li a, header .hiden .lang:focus-within ul li a {
        display: block; }
    header .hiden .search:hover, header .hiden .search:focus-within {
      opacity: 1;
      width: 250px;
      height: 40px; }
      header .hiden .search:hover input[type="search"], header .hiden .search:focus-within input[type="search"] {
        width: 100%;
        height: 100%; }
      header .hiden .search:hover button, header .hiden .search:focus-within button {
        width: 40px;
        height: 20px; }
        header .hiden .search:hover button i, header .hiden .search:focus-within button i {
          font-size: 16px; }
    header .hiden .share:hover, header .hiden .share:focus-within {
      opacity: 1;
      width: 170px;
      height: 50px; }
      header .hiden .share:hover ul li a i, header .hiden .share:focus-within ul li a i {
        color: #000000;
        padding: 10px;
        font-size: 24px; }
    header .hiden .basket:hover, header .hiden .basket:focus-within {
      opacity: 1;
      padding: 20px;
      width: 30vw;
      height: 100vh; }
      header .hiden .basket:hover button, header .hiden .basket:hover .calc, header .hiden .basket:hover .cart-item, header .hiden .basket:hover .title, header .hiden .basket:focus-within button, header .hiden .basket:focus-within .calc, header .hiden .basket:focus-within .cart-item, header .hiden .basket:focus-within .title {
        display: block; }
    header .hiden + .w-100 {
      border-top: 1px solid #d4d4d4;
      margin: 20px 0; }
  header .nav nav li a {
    text-transform: uppercase;
    z-index: 0; }
  header .nav nav .menu {
    opacity: 0;
    background: #ffffff; }
